body
  background-color: #E9E9E9 !important
img
  max-width: 100%
.info
  font-size: 1em
  a
    text-decoration: none
    color: #7C6B44
  i
    font-size: 18px
    color: #000000
.donate
  background-color: #FFED07
  border: none

.headder-nav-icon
  background-color: #0E111A
.logo
  color: #ffffff !important
  font-size: 14px !important
.dropdown
  &:hover > .dropdown-menu
    display: block
  > .dropdown-toggle:active
    pointer-events: none
.hedder-up
  h1
    a
      margin: 0
      img 
        display: block
        max-width: 100%
        margin-top: 0em
.nav-link
  color: #EDE8B8 !important
.dropdown-menu
  font-size: 0.8rem !important
  background-color: #f7d42e !important
  margin: 0 auto !important
  text-align: center !important
  width: 14rem
  .nav-link
    color: #000000 !important
    font-weight: 600

.ctogg
  color: #ffffff !important
  font-size: 35px !important  
  /* home slider section */
.carousel-control-prev, .carousel-control-next
  width: 5.4% !important
  color: #807979 !important
  i
    font-size: 60px
    font-weight: 900
    border: 1px solid #000000
    padding: 0px
    border-radius: 50%
    width: 100%
.carousel-control-prev
  left: -100px !important
.carousel-control-next
  right: -100px !important
.carousel-item
  margin: 0 auto !important
.news-agile-text
  h1
    font-weight: 400
    font-size: 33px
    span
      font-weight: 700
      font-size: 33px
  p
    color: #5f5d5d
    line-height: 18px
  .outs_more-buttn
    a
      text-decoration: none
      background-color: #393186 !important
      color: #ffffff

// impact-section start

.impact
  background: #001A35
  h1
    font-size: 45px
    color: #ffffff
    font-weight: 300
    span
      font-weight: 600
      color: #FFED07
  p
    color: #ffffff
  .shape
    height: 200px
    width: 200px
    background: #ffffff
    border: 10px solid #E6E7E9
    border-radius: 50%
    border-top-right-radius: 0
// impact section end




@media (max-width: 500px)
  .info
    font-size: 1em
    i
      font-size: 24px
  .carousel-inner
    text-align: center
  .carousel-control-prev
    left: 0px !important
  .carousel-control-next
    right: 0px !important
  .news-agile-text
    margin: 20px 0
    h1
      font-size: 20px
      text-align: center
      span
        font-size: 20px
    p
      color: #5f5d5d
      line-height: 18px
      text-align: center
    .outs_more-buttn
      a
  .carousel-control-prev, .carousel-control-next
    width: 10% !important
    i
      font-size: 30px
      width: 80%

@media (min-width: 768px)
  .news-agile-text
    margin: 20px 0
    h1
      font-size: 35px
      text-align: center
      span
        font-size: 35px
    p
      color: #5f5d5d
      line-height: 18px
      text-align: center
    .outs_more-buttn
      text-align: center
      a
  .carousel-inner
    text-align: left
  .carousel-control-prev
    left: -20px !important
  .carousel-control-next
    right: -20px !important
  .carousel-control-prev, .carousel-control-next
    width: 7.5% !important
    i
      font-size: 50px
      width: 100%
      padding: 0px

@media (min-width: 920px)
  .news-agile-text
    margin: 0 0 20px 0
    h1
      font-size: 25px
      text-align: left
      span
        font-size: 25px
    p
      color: #5f5d5d
      line-height: 18px
      text-align: left
    .outs_more-buttn
      text-align: left
      a
  .carousel-inner
    text-align: left
  .carousel-control-prev
    left: -45px !important
  .carousel-control-next
    right: -45px !important
  .carousel-control-prev, .carousel-control-next
    width: 4.5% !important
    i
      font-size: 40px
      width: 100%
      padding: 0px

@media (min-width: 1000px)
  .hedder-up
    h1
      a
        img 
          margin-top: -3.5em
  .news-agile-text
    h1
      font-size: 35px
      span
        font-size: 35px
    p
      color: #5f5d5d
    .outs_more-buttn
      text-align: left
      a
  .carousel-inner
    text-align: left
  .carousel-control-prev
    left: -100px !important
  .carousel-control-next
    right: -100px !important
  .carousel-control-prev, .carousel-control-next
    width: 5.5% !important
    i
      font-size: 60px
      width: 100%
      padding: 0px